<footer class="footer">
    <p class="footer__p">Para Esther con ❤️ de <a class="footer__a" href="https://rubenterre.me">Rubén Terré</a></p>
</footer>

<style>

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__p{
        text-align: center;
    }

    .footer__a{
        color: var(--color-text-soft);
    }
    
</style>